#
#  Copyright (C) 2024 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

source "$APPSDIR/external/zblue/zblue/port/Kconfig.zephyr"

config BT_H4
  bool "H:4 UART"
  default n
  help
    Bluetooth H:4 UART driver. Requires hardware flow control
    lines to be available.

config BT_UART_ON_DEV_NAME
  string "Device Name of UART Device for Bluetooth"
  default "/dev/ttyHCI0"
  depends on BT_H4
  help
    This option specifies the name of UART device to be used
    for Bluetooth.

config FILE_SYSTEM
  bool "File system support"
  help
    Enables support for file system.

if FILE_SYSTEM

config FILE_SYSTEM_MAX_FILE_NAME
  int "Optional override for maximum file name length"
  default 32
  help
    Specify the maximum file name allowed across all enabled file
    system types.  Zero or a negative value selects the maximum
    file name length for enabled in-tree file systems.  This
    default may be inappropriate when registering an out-of-tree
    file system.  Selecting a value less than the actual length
    supported by a file system may result in memory access
    violations.
endif

config NVS
	bool "Non-volatile Storage"
	help
	  Enable support of Non-volatile Storage.

if NVS

config NVS_PATH
  string "Non-volatile Storage Path"
  depends on NVS
  help
    Enable support of Non-volatile Storage Path.

config NVS_LOOKUP_CACHE
  bool "Non-volatile Storage lookup cache"
  help
    Enable Non-volatile Storage cache, used to reduce the NVS data lookup
    time. Each cache entry holds an address of the most recent allocation
    table entry (ATE) for all NVS IDs that fall into that cache position.

config NVS_LOOKUP_CACHE_SIZE
  int "Non-volatile Storage lookup cache size"
  default 128
  range 1 65536
  depends on NVS_LOOKUP_CACHE
  help
    Number of entries in Non-volatile Storage lookup cache.
    It is recommended that it be a power of 2.

config FLASH_MAP
  int "Flash maps"
  default 1 if NVS
  range 0 8
  help
    Enable support flash maps

if FLASH_MAP > 0

config FLASH_MAP_0_NAME
  string "Flash map 0 name"
  default NVS_PATH

if FLASH_MAP > 1
config FLASH_MAP_1_NAME
  string "Flash map 1 name"
endif # FLASH_MAP > 1

if FLASH_MAP > 2
config FLASH_MAP_2_NAME
  string "Flash map 2 name"
endif # FLASH_MAP > 2

if FLASH_MAP > 3
config FLASH_MAP_3_NAME
  string "Flash map 3 name"
endif # FLASH_MAP > 3

if FLASH_MAP > 4
config FLASH_MAP_4_NAME
  string "Flash map 4 name"
endif # FLASH_MAP > 4

if FLASH_MAP > 5
config FLASH_MAP_5_NAME
  string "Flash map 5 name"
endif # FLASH_MAP > 5

if FLASH_MAP > 6
config FLASH_MAP_6_NAME
  string "Flash map 6 name"
endif # FLASH_MAP > 6

if FLASH_MAP > 7
config FLASH_MAP_7_NAME
  string "Flash map 7 name"
endif # FLASH_MAP > 7

endif # FLASH_MAP > 0

endif # NVS

menuconfig BT_DEBUG_LOG
  bool "Enable BT Debug Log"
  default n
  help
    Enable BT Debug Log

if BT_DEBUG_LOG
config BT_DEBUG_LOG_LEVEL
  int "BT Debug Log Level"
  default 6
  help
    Sets log level for the BT stack.

config BT_DEBUG_LOG_FUNCTION_NAME
  bool "Enable BT Debug Log Function Name"
  default n
  help
    Enable BT Debug Log Function Name

config BT_DEBUG_LOG_LINE_NUMBER
  bool "Enable BT Debug Log Line Number"
  default n
  help
    Enable BT Debug Log Line Number
endif

menuconfig BT_SAMPLE
  tristate "Bluetooth Stack Examples"
  default n
  ---help---
    Enable Bluetooth Stack Examples

if BT_SAMPLE

config BT_SAMPLE_STACKSIZE
  int "BT sample stack size"
  default 40960 if ARCH_SIM
  default DEFAULT_TASK_STACKSIZE
  help
    Sets log level for the BT stack.

config BT_SAMPLE_PERIPHERAL
  bool "Enable Bluetooth peripheral example"
  default n
  depends on BT_PERIPHERAL
  help
    Enable Bluetooth peripheral example

config BT_SAMPLE_CENTRAL
  bool "Enable Bluetooth central example"
  default n
  depends on BT_CENTRAL
  help
    Enable Bluetooth central example

config BT_SAMPLE_MESH
  bool "Enable Bluetooth mesh example"
  default n
  depends on BT_MESH
  help
    Enable Bluetooth mesh example

config BT_SAMPLE_HFP_HF
  bool "Enable Bluetooth hfp-hf example"
  default n
  depends on BT_HFP_HF
  help
    Enable Bluetooth hfp-hf example

endif

